.popup__save-button {
	width: 358px;
	height: 50px;
	border-radius: 2px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	font-family: inherit;
	border: none;
	transition: opacity 0.5s ease;
	margin-top: 48px;
	color: #fff;
	background-color: #000;
}

.popup__save-button:hover {
	transition: 0.7s ease-in-out;
	opacity: 0.8;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffffff;
}

@media screen and (max-width: 580px) {
	.popup__save-button {
		width: 238px;
		height: 46px;
		font-size: 14px;
		line-height: 17px;
		margin-top: 45px;
	}
}




